
@{ 
    ViewBag.Title = "Successful Update";
    Layout = "~/Views/Shared/layout.cshtml";
}

<br />
<br />
<div class="alert alert-danger">this tags are successfully added to your preferences !</div>